.idea
*.sw*
.project
.pydevproject
.vscode
.settings
*~
.#*
\#*

cover
nosetests.xml
.coverage
*.orig
.ropeproject
.DS_Store
.python-version
*tags*
*.txt
*.pyc
venv/
.venv/
env
.venv
log/
mysql/
backup/
fixtures/
debug.log
version_data.yaml

out
conf/start_args.yaml
conf/version_data.yaml
